/* Basic Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #fcfafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#root {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.app-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #2ecc71;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button{
    padding: 10px;
    background-color: #2ecc71;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27ae60;
}

#bookmark-list {
    list-style: none;
    padding: 0;
}

#bookmark-list li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bookmark-list a {
    color: #2ecc71;
    text-decoration: none;
}

#bookmark-list button {
    background-color: #e74c3c;
    padding: 5px 10px;
}

#bookmark-list button:hover {
    background-color: #c0392b;
}